body {
    background-color: blueviolet;
}

h1 {
    color: red;
    font-size: 60px;
    text-align: center;
ul {
    list-style-type: none;
}


ul li{
    text-align: center;
}

ul li a {
    text-decoration: none;
    color: red
}
